@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --primary:      #fcc302;
    --secondary:    #daac00;
    --tertiary:     #00bec9;
    --text-color:   #313243;
    --white-color:  #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}